#header-nav {
  border: 1px solid black;
  float: left;
  width: 100%;
  margin-left: 0;
}
h2 {
  text-align: center;
}    
h3 {
  text-align: center;
}    
.container {
    border:1px solid black;
    margin-top: 30px;
    width:auto;
    height:1000px;
  }
  
.navbar-toggle {
      position: relative;
      float: right;
      padding: 9px 10px;
      margin-top: -50px;
      margin-right: 15px;
      margin-bottom: 8px;
      background-color: transparent;
      border: 1px solid transparent:
        border-radius: 4px;
    }
#nav-list{
  border: 0.5px solid black;
  cursor: pointer;
  padding-right:0;
      }

#nav-list a{
  border: 0.5px solid black;
   width: 100%;
  text-align: center;
}

#nav-list a:hover{
  background: #E7E7E7;
  width: 100%;
}
#nav-list a span{
  }


* {
  box-sizing: border-box;
  }

